.index-body{
    background-color: darkslategray;
    text-align: center;
}


.heading{
    color: #fff;
    font-size: 26px;
    text-align: center;
}


.nav-list{
    list-style: none;
    text-align: end;
}


.nav-link{
    color: #fff;
    text-decoration: none;
    font-family: cursive;
    font-size: 20px;
    justify-content: end;
}


.nav-link:hover{
    color: rgb(189, 223, 253);
    
}


.main-img{
    align-items: center;
}


.marquee{
    color: #fff;
    font-size: 15px;
    font-family: cursive;
}