.main-img{
    align-items: center;
 }

 .nav-link{
    text-decoration: none;
    font-family: cursive;
    font-size: 20px;
    justify-content: end;
}

.nav-list{
    list-style: none;
   text-align: end;
}

.heading{
    font-size: 26px;
    text-align: center;
    }

    .ll{
        color: white;
    }

    .index-body{
        background-color: darkslategray;
        text-align: center;
    }