#color {
    color: white;
}
#h2 {
    text-align: center;
    color: white;
}
#boshsahifa{
    text-align: center;
    color: white;
   
}
.body2{
    background-color: darkslategray;
    text-align: center;
}
#body{
    background-color:darkslategray;
}


.index-body{
    background-color: darkslategray;
    text-align: center;
}


#table{
    color: White;
   
}
.ll{
    color: white;
}


.heading{
font-size: 26px;
text-align: center;
}

.nav-list{
    list-style: none;
   text-align: end;
}

.nav-link{
    text-decoration: none;
    font-family: cursive;
    font-size: 20px;
    justify-content: end;
}


.main-img{
   align-items: center;
}