#color {
    color: white;
}
#h2 {
    text-align: center;
    color: white;
}
#boshsahifa{
    text-align: center;
    color: white;
   
}
.body2{
    background-color: darkslategray;
    text-align: center;
}
#body{
    background-color: darkslategray;
}
#table{
    color: White;
   
}
.ll{
    color: white;
}

