.body{
    background-color: darkslategray;
}




.insho-1-heading{
    color:white;
    font-family: cursive;
}


.insho-1-text{
    color: rgba(143, 248, 248, 0.678);
}


.insho-2{
    background-color: black ;
    text-align: center;
}

.insho-2-heading{
    font-family: monospace;
    color: darkcyan;
    letter-spacing: 4px;
    
}



.insho-2-text{
    color: cornflowerblue;
    font-size: 23px;
    
}

.link-list{
    text-align: center;
    
}



.link-item-link{
    text-decoration: none;
    color: white;
    font-size: 25px;
}