body{
    background-color: rgb(43, 80, 80);
}

.logo-link{
    color: #fff;
    font-family: monospace;
    font-size: 23px;
    text-decoration: none;
}


.nav-list{
    list-style-type: none;
    color: #fff;
    font-size: 24px;
}


.nav-item-link:hover{
    color:  rgb(189, 223, 253);
}


.nav-item-link {
    font-family: cursive;
    color: #ffffff;
    text-decoration: none;
}


.nav-div{
    height: 180px;
    width: 250px;
    /* background-color: rgb(4, 96, 112); */
    /* border: rgb(0, 36, 59)  3px  solid  ; */
    border-radius: 15%  35%;
    margin-left:1050px ;
    margin-top: -50px;
    padding: left 37px;
    padding-bottom: 10px;
    opacity: 90%;
}